{% extends 'base.html' %}

{% load static %}

{% block content %}
   
        <!-- main content -->
        <div class="main-content right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left pe-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card shadow-xss w-100 d-block d-flex border-0 p-4 mb-3">
                                <div class="card-body d-flex align-items-center p-0">
                                        <a href="{% url 'create_group' %}" class="d-lg-block d-none"><i class="feather-plus btn-round-md font-md bg-primary-gradiant text-white"></i></a>

                                    <h2 class="fw-700 mb-0 mt-0 font-md text-grey-900" style="margin-left:15px;">Create-Group</h2>

                                    <div class="search-form-2 ms-auto">

                                        <i class="ti-search font-xss"></i>
                                        <input type="text" class="form-control text-grey-500 mb-0 bg-greylight theme-dark-bg border-0" placeholder="Search here.">
                                    </div>

                                    <a href="#" class="btn-round-md ms-2 bg-greylight theme-dark-bg rounded-3"><i class="feather-filter font-xss text-grey-500"></i></a>
                                </div>
                            </div>

                            <div class="row ps-2 pe-1">
                                {% for i in groups %}
                                <div class="col-md-6 col-sm-6 pe-2 ps-2">
                                    <div class="card d-block border-0 shadow-xss rounded-3 overflow-hidden mb-3">
                                        <div class="card-body position-relative h100 bg-image-cover bg-image-center" style="background-image: url(../../static/images/bb-16.png);"></div>
                                        <div class="card-body d-block w-100 pl-10 pe-4 pb-4 pt-0 text-left position-relative">
                                            <figure class="avatar position-absolute w75 z-index-1" style="top:-40px; left: 15px;"><img src="{{i.group_img.url}}" alt="image" class="float-right p-1 bg-white rounded-circle w-100"></figure>
                                            <div class="clearfix"></div>
                                            <a href="{% url 'group_detail' i.group_name %}"><h4 class="fw-700 font-xsss mt-3 mb-1">{{i.group_name}}</h4></a>
                                            <p class="fw-500 font-xsssss text-grey-500 mt-0 mb-3">{{i.desc}}</p>
                                            <span class="position-absolute right-15 top-0 d-flex align-items-center">
                                                {% if request.user != i.creator.user %}
                                                    {% if i.group_name in group_members %}
                                                    <a href="{% url 'leave_group' i.group_name %}" class="text-center p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-danger font-xsssss fw-700 ls-lg text-white">LEAVE</a>
                                                    {% else %}
                                                    <a href="{% url 'join_group' i.group_name %}" class="text-center p-2 lh-24 w100 ms-1 ls-3 d-inline-block rounded-xl bg-current font-xsssss fw-700 ls-lg text-white">JOIN</a>
                                                    {% endif %}
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>               
                    </div>
                </div>
                 
            </div>            
        </div>
        <!-- main content -->

{% endblock %}
