{% extends 'base.html' %}

{% load static %}

{% block content %}
        
        <!-- main content -->
        <div class="main-content right-chat-active">
            
            <div class="middle-sidebar-bottom">
                <div class="middle-sidebar-left pe-0 ps-lg-3 ms-0 me-0" style="max-width: 100%;">
                    <div class="row">
                           

                        <div class="col-lg-12 position-relative">
                            <div class="chat-wrapper pt-0 w-100 position-relative scroll-bar bg-white theme-dark-bg">
                                <div class="chat-body p-3 ">
                                    {% for i in messages %}
                                    <div class="messages-content pb-5">
                                        
                                        {% if i.messager == x %}
                                            <div class="message-item">
                                                
                                                <div class="message-item">
                                                    <div class="message-user">
                                                        <figure class="avatar">
                                                            <img src="{{x.product_img.url}}" alt="image">
                                                        </figure>
                                                        <div>
                                                            <h5>{{x.user.full_name}}</h5>
                                                            <div class="time">{{i.created_date}}</div>
                                                        </div>
                                                    </div>
                                                    <div class="message-wrap">{{i.message}}</div>
                                                </div>
                                            
                                            </div>
                                        {% else %}
                                            <div class="message-item outgoing-message">
                                                <div class="message-user">
                                                    <figure class="avatar">
                                                        <img src="{{profile.product_img.url}}" alt="image">
                                                    </figure>
                                                    <div>
                                                        <h5>{{profile.user.full_name}}</h5>
                                                        <div class="time">{{i.created_date}}<i class="ti-double-check text-info"></i></div>
                                                    </div>
                                                </div>
                                                <div class="message-wrap" style="margin-bottom: 90px;">{{i.message}}</div>
                                            </div>
                                        {% endif %}
                                        <div class="clearfix"></div>


                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="chat-bottom dark-bg p-3 shadow-none theme-dark-bg" style="width: 98%;">
                                <form class="chat-form" method='POST' action="">
                                    {% csrf_token %}
                                    <input class="form-group" name="message" type="text" placeholder="Start typing.." style="color: black;">
                                    <button type='submit' class="bg-current"><i class="ti-arrow-right text-white"></i></button>
                                </form>
                            </div> 
                        </div>

                    </div>
                </div>
                 
            </div>            
        </div>
        <!-- main content -->

{% endblock %}
